#main{
    background-color: #fff;
    width: 90%;
    text-align: center;
    border-radius: 20px;
    margin-top: 150px;
    box-shadow: 0 5px 10px 5px rgb(198, 217, 241);
}

.title {
    font-size: 25pt;
    font-weight: bold;
}

.desc {
    font-size: 20pt;
}